@import url(variables.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 1.5rem 0;
    background-color: var(--bg-primary);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo-wrapper {
    width: 300px;
}

.logo-wrapper img {
    width: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

ul a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25rem;
    transition: color 200ms ease;
}

ul a:hover {
    color: var(--bg-highlight-hover);
}

form {
    display: flex;
    justify-content: center;
    gap: .5rem;
    width: 40%;
}

form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: 1px solid black;
}

form button {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid black;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    padding: 1rem;
    background-color: var(--bg-footer);
}

footer > div:not(:last-child) {
    padding: 1rem;
}

.social-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-wrapper img {
    width: 80px;
    height: 80px;
}

.copyright {
    font-size: 1.25rem;
}

.location-wrapper {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 1.25rem;
    overflow: hidden;
}