@import url(variables.css);
@import url(header-footer.css);


/* TOP PRODUCTS HEADER */
.header {
    display: grid;
    place-items: center;
    padding: 5rem 0;
    font-size: 2rem;
}

.top-products {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5rem 0;
}

.top-product {
    display: grid;
    place-items: center;
    width: 80%;
}

.product-image-wrapper {
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    /* padding: 5rem; */
    border-radius: 1rem;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.top-products button,
.products button {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
    border: 1px solid black;
    border-radius: 1rem;
}

section button {
    color: whitesmoke;
    background-color: var(--bg-highlight);
    transition: all 200ms ease;
}

section button:hover {
    color: var(--bg-highlight-hover);
    background-color: whitesmoke;
}

.products {
    padding: 5rem 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
}

.product-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
}

.product-wrapper>.product-image-wrapper {
    width: 90%;
}

.view-more-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.view-more-wrapper button {
    width: 100%;
    padding: 5rem 0;
}

.view-more-wrapper:hover button {
    border: none;
    transition: all 800ms ease;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    animation: nudge 500ms infinite;
}

@keyframes nudge {
    
    0% {
        translate: 10% 0;
    }

    50% {
        translate: 8% 0;
    }

    100% {
        translate: 10% 0;
    }

}
