@import url(header-footer.css);

.content-wrapper {
    display: flex;
}

.topContent {
    padding: 1.5rem;
}

.topContent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    align-items: center;
}

.image-wrapper {
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    height: 573px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.image-wrapper img {
    padding: .5rem;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.basicInfo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 2rem;
}

.desc-wrapper {
    width: 100%;
}

.header p {
    font-size: 1.25rem;
}

.header .desc {
    margin: 3rem 0;
    height: 350px;
    /* height: 400px; */
    text-align: justify;
    /* text-wrap: wrap; */
    overflow-y: scroll;
}

.action-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.action-form button {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem 2rem;
    font-size: 1.25rem;
    background-color: var(--bg-highlight);
    color: whitesmoke;
    cursor: pointer;
}

.action-form button:nth-child(2) {
    border-radius: 2rem 1rem;
}

.action-form button:hover {
    background-color: var(--bg-highlight-hover);
}

label {
    display: flex;
    align-items: center;
}

label input {
    width: 20px;
    font-size: 1.25rem;
    text-align: center;
    border: none;
}

label img {
    margin: 1rem;
    width: 30px;
}

.price-quantity {
    display: flex;
    gap: 2rem;
}

.quantity {
    align-self: flex-end;
    font-size: .80em;
    color: rgba(0, 0, 0, 0.50);
}