:root {

    --bg-primary: #273c75;
    --bg-secondary: #192a56;
    --bg-header: #7f8fa6;
    --bg-footer: #718093;
    --bg-highlight: #2f3640;
    --bg-highlight-hover: #353b48;
    --bg-button-update: #44bd32;
    --bg-button-remove: #c23616;
}